{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="contenedor titulo">
    <h1>ESCOGE TU RECITAL</h1>
</div>
<div class="contenedor contenedor-recitales">
    <div class="cuadro-recital">
        <a href="./recitales/presencial1.html"><h1>Recital presencial 1</h1></a>
    </div>
    <div class="cuadro-recital">
        <a href="./recitales/presencial2.html"><h1>Recital presencial 2</h1></a>
    </div>
    <div class="cuadro-recital">
        <a href="./recitales/recitalVirtual.html"><h1>Recital virtual</h1></a>
    </div>
</div>
{% endblock %}