{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="contenedor titulo">
    <h1>CLASES VIRTUALES</h1>
</div>

<div class="grid-instrumentos contenedor">
   <div class="cuadro-instrumento">
       <img src="{% static 'core/img/virtual1.jpeg' %}" alt="guitarra">
       <div class="clase-info">
        <p>guitarra</p>
        <p>$250</p>
       </div>
       <button type="button">Agregar al carrito</button>
       
   </div>
   <div class="cuadro-instrumento">
    <img src="{% static 'core/img/virtual2.jpeg' %}" alt="violin">
    <div class="clase-info">
        <p>violín</p>
        <p>$250</p>
    </div>
    <button type="button">Agregar al carrito</button>
    </div>
    <div class="cuadro-instrumento">
        <img src="{% static 'core/img/virtual3.jpeg' %}" alt="flauta">
        <p href="https://youtu.be/ZQWx8-AXfZs">flauta</p>
    </div>
    <div class="cuadro-instrumento">
        <img src="{% static 'core/img/virtual4.jpeg' %}" alt="piano">
        <p href="https://youtu.be/wn9hcTuTgH0">piano</p>
    </div>
    <div class="cuadro-instrumento">
        <img src="{% static 'core/img/virtual5.jpeg' %}" alt="canto">
        <p href="https://youtu.be/odur-Lg8fBw">canto</p>
    </div>
    <div class="cuadro-instrumento">
        <img src="{% static 'core/img/virtual6.jpeg' %}" alt="cello">
        <p href="https://youtu.be/dWSITx_qPzk">cello</p>
    </div> 
</div>
<div class="flex-agenda contenedor">
   <div>
        <img src="{% static 'core/img/virtual7.jpeg' %}" alt="clase virtual">
   </div>
    <div class="agenda">
        <a href="https://wa.me/message/JVH4TZ454YCVM1" class="mailto">¡agenda tu clase muestra!</a>
    </div>
</div>

{% endblock %}